* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

header {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.6)), url('bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 45vw;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10vh;
}

.logo a img {
    width: 9vw;
}

.right-nav {
    height: 10vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 3vh;
    border-radius: 4px;
    margin: 20px;
    background: white;
}

select {
    border: none;
}

#login {
    width: 6vw;
    height: 3vh;
    border-radius: 4px;
    color: white;
    font: bold;
    font-size: 1.5rem;
    border: none;
    background: red;

}

i {
    color: black;
}

.center {
    width: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.center h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    width: 54vw;
    font-size: 3rem;
}

.center h3 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 2rem;
}

.center h4 {
    font-family: 'Signika Negative', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 1.5rem;
}

.email input {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 20vw;
    height: 5vh;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 1.5rem;
}

#start {
    font-size: 1.5rem;
    border: none;
    background: red;
    width: 10vw;
    height: 5vh;
    border-radius: 4px;
    color: white;
}

#start i {
    color: white;
}

section {
    border-top: 10px solid rgba(35, 35, 35, 1);
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.watch {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}

.watch h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size: 3rem;
    color: white;
}

.watch p {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    color: white;
}

#section1 {
    border-top: 10px solid rgba(35, 35, 35, 1);
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#section2 {
    border-top: 10px solid rgba(35, 35, 35, 1);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch2 {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}

.watch1 {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.watch2 h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size: 3rem;
    color: white;
}

.watch2 p {
    width: 30vw;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    color: white;
}

#section3 {
    border-top: 10px solid rgba(35, 35, 35, 1);
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch3 {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.watch3 h1 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Signika Negative', sans-serif;
    font-size: 3rem;
    color: white;
}

.watch3 p {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.5rem;
    color: white;
}




.video {
    position: relative;
}

#png {
    max-width: 100%;
    height: auto;
}

video {
    position: absolute;
    top: 90px;
    left: 70px;
    right: 0;
    object-fit: cover;
    /* Maintain aspect ratio while covering the container */
    z-index: -1;
    /* Place the video element behind the image */
}

#video {
    width: 20vw;
    position: absolute;
    top: 20px;
    left: 130px;
    object-fit: cover;
    /* Maintain aspect ratio while covering the container */
    z-index: -1;
    /* Place the video element behind the image */
}

.qna {
    border-top: 10px solid rgba(35, 35, 35, 1);
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.qna h4 {
    display: flex;
    justify-content: center;
    align-items: self-end;
    height: 8vh;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.faq-item {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 60vw;
    background: rgba(35, 35, 35, 1);
}

.faq-item:last-child {
    border-bottom: none;
}

.question-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question-title {
    font-size: 1rem;
    color: white;
    margin: 0;
}

.plus-sign {
    font-size: 24px;
}

.question-para {
    display: none;
    padding: 10px 0;
    color: #555;
}

.question-para p {
    margin: 0;
}


/* footer */

footer {
    width: 100%;
    height: 30vh;
    border-top: 10px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer p {

    width: 43vw;
    text-align: left;
    font-size: 1.5rem;
    color: white;

}

.links {
    width: 50vw;
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 20vh;

}

.links li {
    margin-top: 10px;
    list-style-type: none;
}

.links li a {
    font-size: 1.2rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#left-links {
    display: flex;
    margin-top: 4vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 0;
    width: 10vw;

}

.lang {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 4px;
    height: 3vh;
    width: 5vw;
}


/* Responisvvef sjdsj6 600px */
@media screen and (max-width:600px) {
    .logo {
        width: 50vw;
    }

    .logo a img {
        width: 40vw;
    }

    .globe {
        font-size: 1rem;
        display: none;
        width: 20vw;
    }

    select option b {
        display: none;
        /* Hide the text inside <b> */
    }

    .btn {
        display: flex;
        justify-content: center;
        width: 50vw;
    }

    #login {
        height: 5vh;
        font-size: 1rem;
        width: 30vw;
    }

    .center h1 {
        font-weight: 700;
        font-size: 2rem;
        width: 90vw;
    }

    .center h3 {
        font-size: 1.3rem;
    }

    .center h4 {
        text-align: center;
        font-size: 1rem;
        width: 90vw;

    }

    .email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    .email input {
        font-size: 1rem;
        width: 80vw;
    }

    #start {
        margin: 20px;
        font-size: 1rem;
        width: 35vw;
        font-weight: bold;
    }

    .watch {
        width: 100vw;
    }

    .watch p {
        font-size: 1rem;
        text-align: center;
        width: 90vw;
    }

    .watch h1 {
        font-size: 2rem;
        text-align: center;
        width: 90vw;
    }

    #section1 {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #section3 {
        flex-direction: column-reverse;
    }

    .watch2 {
        width: 80vw;
        text-align: center;
        align-items: center;
    }

    .watch2 h1 {
        font-size: 2rem;
        width: 80vw;
    }
    .watch2 p{
        width: 80vw;
        font-size: 1rem;
    }
    video {
        top: 5vw;
        left: auto;
        height: 50vw;
    }

    #video {
        margin-left: -50px;
        width: 60vw;

    }

    .qna {

        height: 80vh;
        font-size: 2rem;
    }

    .qna h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .qna h4 {
        font-size: 1rem;
        text-align: center;
    }

    .faq-item {
        width: 80vw;
    }

    footer p {
        width: 50vw;
        text-align: left;
        font-size: 1rem;
    }

    .links {
        width: 100vw;
        justify-content: space-around;
    }

    .links li a {
        font-size: .8rem;
    }

    .lang {
        width: 30vw;
    }
}